<title>{{ site.title }}</title>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/backgrounds.js" defer></script>
<meta property="og:image" content="https://scontent-man2-1.xx.fbcdn.net/v/t1.6435-9/186513624_105033791772999_5678391970553290173_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=aM8noqBIG88AX-l5ONp&_nc_oc=AQmeFp5Vpl8MgKHGh281O_QD0a1cW9VpaH4rsxHMZPoGq3gcafk-nrlYJxaWJ6-0ClU&_nc_ht=scontent-man2-1.xx&oh=c8fdf26a35a2d8185222da0cd5745b23&oe=60C7A371">